<!DOCTYPE html>

<head>

    <body>
        <h1 class = "heading">About Us</h1>
         <div class="p-4 justify-content-center">
          <p>
            Welcome to Seward Cars! Our car dealership has been serving
            the community for over 50 years.
            We pride ourselves on offering a wide selection of top-quality new
            and pre-owned vehicles, as well as exceptional customer service.
            Our team of knowledgeable and friendly sales staff is here to help
            you find the perfect vehicle to fit your needs and budget.
            We also have a state-of-the-art service center on site, 
            staffed by experienced technicians who are dedicated to keeping your 
            vehicle running smoothly. Thank you for choosing us as your go-to dealership 
            for all of your automotive needs.
          </p>
         </div> 
        </h1>    
    </body>

</head>