<!DOCTYPE html>

    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Yusuf A. Seward </br> Mobile: 123456789 </br> Email: yusuf@sewardcars.com </p>
            </div>
        </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Lead Salesman</h5>
                <p class="card-text">Name: Ace Seward </br> Mobile: 125678892 </br> Email: fatcat@sewardcars.com </p>
            </div>
        </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Muhqlis Seward </br> Mobile: 557844332 </br> Email: muhqlis@sewardcars.com </p>
            </div>
        </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Ebony Seward </br> Mobile: 833834562 </br> Email: ebony@sewardcars.com </p>
            </div>
        </div>
                <div class="card text-white bg-dark mb-2" style="max-width: 40rem;">
            <div class="card-header">Visiting Address</div>
            <div class="card-body">
                <h5 class="card-text">Seward Cars</br></br>21 Jump Street, Chicago, IL, USA</br></br></h5>
                <p class="card-text">Phone: 003721435476 </br> Email: info@sewardcars.com </p>
            </div>
        </div>
        </div>
    </div>
